body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: linear-gradient(180deg, #020617, #020617);
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 15px;
}

#btnAgregar {
  background: #e5e7eb;
  color: #2563eb;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

#guardar {
  background: #22c55e;
  color: black;
  width: 100%;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #111827;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
}
